<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<!--

Template 2093 Flight

http://www.tooplate.com/view/2093-flight

-->
    	<title>GlobalAvia</title>

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="../static/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="../static/css/fontAwesome.css">
        <link rel="stylesheet" href="../static/css/hero-slider.css">
        <link rel="stylesheet" href="../static/css/owl-carousel.css">
        <link rel="stylesheet" href="../static/css/datepicker.css">
        <link rel="stylesheet" href="../static/css/tooplate-style.css">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

        <script src="../static/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>

<body>

    
    <section class="banner" id="top">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="left-side">
                        <div class="logo">
                            <img src="../static/img/logo.png" alt="Flight Template">
                        </div>
                        <div class="tabs-content">
                            <h4>Узнайте о нас больше:</h4>
                            <ul class="social-links">
                                <li><a href="http://facebook.com">Ищите нас в <em>Facebook</em><i class="fa fa-facebook"></i></a></li>
                                <li><a href="http://youtube.com">Наш <em>YouTube</em> Канал<i class="fa fa-youtube"></i></a></li>
                                <li><a href="http://instagram.com">Следите в <em>instagram</em><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                        <div class="page-direction-button">
                            <a href={{ direction }} class="account">Личный кабинет</a>
                            <a href="/contact"><i class="fa fa-phone"></i>Связаться с нами</a></div>
                    </div>
                </div>
                <div class="col-md-5 col-md-offset-1">
                    <section id="first-tab-group" class="tabgroup">
                        <div id="tab1">
                            <div class="submit-form">
                                <h4><em>Найти билеты</em>:</h4>
                                <form id="form-submit" action="" method="get">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <fieldset>
                                                <label for="from">Откуда:</label>
                                                <select required name='from' onchange='this.form.()'>
                                                    <option value="">Выбрать страну...</option>
                                                    {% for dictionary in countries %}
                                                    <option value="{{ dictionary['countryName'] }}">{{ dictionary['countryName'] }}</option>
                                                    {% endfor %}
                                                </select>
                                            </fieldset>
                                        </div>
                                        <div class="col-md-6">
                                            <fieldset>
                                                <label for="to">Куда:</label>
                                                <select required name='to' onchange='this.form.()'>
                                                    <option value="">Выбрать страну...</option>
                                                    {% for dictionary in countries %}
                                                    <option value="{{ dictionary['countryName'] }}">{{ dictionary['countryName'] }}</option>
                                                    {% endfor %}
                                                </select>
                                            </fieldset>
                                        </div>
                                        <div class="col-md-6">
                                            <fieldset>
                                                <label for="departure">Дата отправления:</label>
                                                <input name="deparure" type="text" class="form-control date" id="deparure" placeholder="Выбрать дату..." required="" onchange='this.form.()'>
                                            </fieldset>
                                        </div>
                                        <div class="col-md-6">
                                            <fieldset>
                                                <label for="return">Дата возвращения:</label>
                                                <input name="return" type="text" class="form-control date" id="return" placeholder="Выбрать дату..." required="" onchange='this.form.()'>
                                            </fieldset>
                                        </div>
                                       
					<div class="col-md-6">
                                            <fieldset>
                                                <label for="return">Класс билетов</label>
						   <select required="" name="from" onchange="this.form.()">
                                                    <option value="">Выбрать класс...</option>
                                                    <option value="economy">Эконом</option>
                                                    <option value="economy_pr">Эконом+</option>
                                                    <option value="business">Бизнес-класс</option>
                                                    <option value="first_class">Первый класс</option>
                                                   </select>
                                                
                                            </fieldset>
                                        </div>
					<div class="col-md-6">
                                            <fieldset>
                                                <label for="return">Вес багажа</label>
						<select required="" name="from" onchange="this.form.()">
                                                    <option value="">Выбрать максимальный вес...</option>
                                                    <option value="5">до 5 кг</option>
                                                    <option value="10">до 10 кг</option>
                                                    <option value="15">до 15 кг</option>
                                                    <option value="20">до 20 кг</option>
                                                   </select>
                                                
                                            </fieldset>
                                        </div>
					<div class="col-md-6">
                                            <div class="radio-select">
                                                <div class="row">
                                                    
                                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                                        <label for="oneway">Питание включено</label>
                                                        <input type="checkbox" name="food_flg" id="oneway" value="one-way" required="required" onchange="this.form.()">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
 					<div class="col-md-6">
                                            <div class="radio-select">
                                                <div class="row">
                                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                                        <label for="round">Туда и обратно</label>
                                                        <input type="radio" name="trip" id="round" value="round" required="required"onchange='this.form.()'>
                                                    </div>
                                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                                        <label for="oneway">Только туда</label>
                                                        <input type="radio" name="trip" id="oneway" value="one-way" required="required"onchange='this.form.()'>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <fieldset>
                                                <button type="submit" id="form-submit" class="btn">Купить билеты</button>
                                            </fieldset>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>


    <div class="tabs-content" id="weather">
        <div class="container">
        <table class="table mb-7">
            <thead>
              <tr>
                <th scope="col">№</th>
                <th scope="col">Рейс</th>
                <th scope="col">Дата и время</th>
                <th scope="col">Билеты></th>
                <th scope="col">Багаж</th>
                <th scope="col">Питание</th>
                <th scope="col">Действия</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>г.Москва (SHU) - Paris (PRS)</td>
                <td>Вылет: 21.10.2021 15:34 <br>Прилет: 21.10.2021 16:34 </td>
                <td>
                 <select>
                    <option>Эконом - 8999 руб. (Осталось: 24)</option>
                    <option>Эконом+ - 10999 руб. (Осталось: 12)</option>
                    <option>Бизнес-класс+ - 14999 руб. (Осталось: 8)</option>
                    <option>Первый класс+ - 21999 руб. (Осталось: 7)</option>
                 </select>
                </td>
                <td>До 5 кг</td>
                <td>Включено</td>
                <td>
                  <button type="submit" class="btn btn-info ms-1">Купить</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
    <div class="tabs-content" id="weather">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>Проверить погоду на ближайшие 5 дней</h2>
                    </div>
                </div>
                <div class="wrapper">
                    <div class="col-md-12">
                        <div class="weather-content">
                            <div class="row">
                                <div class="col-md-12">
                                    <ul class="tabs clearfix" data-tabgroup="second-tab-group">
                                        <li><a href="#monday" class="active">Понедельник</a></li>
                                        <li><a href="#tuesday">Вторник</a></li>
                                        <li><a href="#wednesday">Среда</a></li>
                                        <li><a href="#thursday">Четверг</a></li>
                                        <li><a href="#friday">Пятница</a></li>
                                    </ul>    
                                </div>
                                <div class="col-md-12">
                                    <section id="second-tab-group" class="weathergroup">
                                        <div id="monday">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="weather-item">
                                                        <h6>Мьянма</h6>
                                                        <div class="weather-icon">
                                                            <img src="../static/img/weather-icon-03.png" alt="">
                                                        </div>
                                                        <span>32&deg;C</span>
                                                        <ul class="time-weather">
                                                            <li>6.00 <span>26&deg;</span></li>
                                                            <li>12.00 <span>32&deg;</span></li>
                                                            <li>18.00 <span>28&deg;</span></li>
                                                            <li>24.00 <span>22&deg;</span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="weather-item">
                                                        <h6>Тайланд</h6>
                                                        <div class="weather-icon">
                                                            <img src="../static/img/weather-icon-02.png" alt="">
                                                        </div>
                                                        <span>28&deg;C</span>
                                                        <ul class="time-weather">
                                                            <li>6.00 <span>20&deg;</span></li>
                                                            <li>12.00 <span>28&deg;</span></li>
                                                            <li>18.00 <span>26&deg;</span></li>
                                                            <li>24.00 <span>18&deg;</span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="weather-item">
                                                        <h6>Индия</h6>
                                                        <div class="weather-icon">
                                                            <img src="../static/img/weather-icon-01.png" alt="">
                                                        </div>
                                                        <span>33&deg;C</span>
                                                        <ul class="time-weather">
                                                            <li>6.00 <span>26&deg;</span></li>
                                                            <li>12.00 <span>33&deg;</span></li>
                                                            <li>18.00 <span>29&deg;</span></li>
                                                            <li>24.00 <span>27&deg;</span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="tuesday">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="weather-item">
                                                        <h6>Мьянма</h6>
                                                        <div class="weather-icon">
                                                            <img src="../static/img/weather-icon-02.png" alt="">
                                                        </div>
                                                        <span>28&deg;C</span>
                                                        <ul class="time-weather">
                                                            <li>6.00 <span>18&deg;</span></li>
                                                            <li>12.00 <span>27&deg;</span></li>
                                                            <li>18.00 <span>25&deg;</span></li>
                                                            <li>24.00 <span>17&deg;</span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="weather-item">
                                                        <h6>Тайланд</h6>
                                                        <div class="weather-icon">
                                                            <img src="../static/img/weather-icon-03.png" alt="">
                                                        </div>
                                                        <span>31&deg;C</span>
                                                        <ul class="time-weather">
                                                            <li>6.00 <span>19&deg;</span></li>
                                                            <li>12.00 <span>28&deg;</span></li>
                                                            <li>18.00 <span>22&deg;</span></li>
                                                            <li>24.00 <span>18&deg;</span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="weather-item">
                                                        <h6>Индия</h6>
                                                        <div class="weather-icon">
                                                            <img src="../static/img/weather-icon-01.png" alt="">
                                                        </div>
                                                        <span>26&deg;C</span>
                                                        <ul class="time-weather">
                                                            <li>6.00 <span>19&deg;</span></li>
                                                            <li>12.00 <span>26&deg;</span></li>
                                                            <li>18.00 <span>22&deg;</span></li>
                                                            <li>24.00 <span>20&deg;</span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="wednesday">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="weather-item">
                                                        <h6>Мьянма</h6>
                                                        <div class="weather-icon">
                                                            <img src="../static/img/weather-icon-03.png" alt="">
                                                        </div>
                                                        <span>31&deg;C</span>
                                                        <ul class="time-weather">
                                                            <li>6.00 <span>19&deg;</span></li>
                                                            <li>12.00 <span>28&deg;</span></li>
                                                            <li>18.00 <span>22&deg;</span></li>
                                                            <li>24.00 <span>18&deg;</span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="weather-item">
                                                        <h6>Тайланд</h6>
                                                        <div class="weather-icon">
                                                            <img src="../static/img/weather-icon-01.png" alt="">
                                                        </div>
                                                        <span>34&deg;C</span>
                                                        <ul class="time-weather">
                                                            <li>6.00 <span>28&deg;</span></li>
                                                            <li>12.00 <span>34&deg;</span></li>
                                                            <li>18.00 <span>30&deg;</span></li>
                                                            <li>24.00 <span>29&deg;</span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="weather-item">
                                                        <h6>Индия</h6>
                                                        <div class="weather-icon">
                                                            <img src="../static/img/weather-icon-02.png" alt="">
                                                        </div>
                                                        <span>28&deg;C</span>
                                                        <ul class="time-weather">
                                                            <li>6.00 <span>18&deg;</span></li>
                                                            <li>12.00 <span>27&deg;</span></li>
                                                            <li>18.00 <span>25&deg;</span></li>
                                                            <li>24.00 <span>17&deg;</span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="thursday">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="weather-item">
                                                        <h6>Мьянма</h6>
                                                        <div class="weather-icon">
                                                            <img src="../static/img/weather-icon-01.png" alt="">
                                                        </div>
                                                        <span>27&deg;C</span>
                                                        <ul class="time-weather">
                                                            <li>6.00 <span>21&deg;</span></li>
                                                            <li>12.00 <span>27&deg;</span></li>
                                                            <li>18.00 <span>22&deg;</span></li>
                                                            <li>24.00 <span>18&deg;</span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="weather-item">
                                                        <h6>Таиланд</h6>
                                                        <div class="weather-icon">
                                                            <img src="../static/img/weather-icon-02.png" alt="">
                                                        </div>
                                                        <span>28&deg;C</span>
                                                        <ul class="time-weather">
                                                            <li>6.00 <span>18&deg;</span></li>
                                                            <li>12.00 <span>27&deg;</span></li>
                                                            <li>18.00 <span>25&deg;</span></li>
                                                            <li>24.00 <span>17&deg;</span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="weather-item">
                                                        <h6>Индия</h6>
                                                        <div class="weather-icon">
                                                            <img src="../static/img/weather-icon-03.png" alt="">
                                                        </div>
                                                        <span>31&deg;C</span>
                                                        <ul class="time-weather">
                                                            <li>6.00 <span>19&deg;</span></li>
                                                            <li>12.00 <span>28&deg;</span></li>
                                                            <li>18.00 <span>22&deg;</span></li>
                                                            <li>24.00 <span>18&deg;</span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="friday">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="weather-item">
                                                        <h6>Мьянма</h6>
                                                        <div class="weather-icon">
                                                            <img src="../static/img/weather-icon-03.png" alt="">
                                                        </div>
                                                        <span>33&deg;C</span>
                                                        <ul class="time-weather">
                                                            <li>6.00 <span>28&deg;</span></li>
                                                            <li>12.00 <span>33&deg;</span></li>
                                                            <li>18.00 <span>29&deg;</span></li>
                                                            <li>24.00 <span>27&deg;</span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="weather-item">
                                                        <h6>Таиланд</h6>
                                                        <div class="weather-icon">
                                                            <img src="../static/img/weather-icon-02.png" alt="">
                                                        </div>
                                                        <span>31&deg;C</span>
                                                        <ul class="time-weather">
                                                            <li>6.00 <span>24&deg;</span></li>
                                                            <li>12.00 <span>31&deg;</span></li>
                                                            <li>18.00 <span>26&deg;</span></li>
                                                            <li>24.00 <span>23&deg;</span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="weather-item">
                                                        <h6>Индия</h6>
                                                        <div class="weather-icon">
                                                            <img src="../static/img/weather-icon-01.png" alt="">
                                                        </div>
                                                        <span>28&deg;C</span>
                                                        <ul class="time-weather">
                                                            <li>6.00<span>24&deg;</span></li>
                                                            <li>12.00 <span>28&deg;</span></li>
                                                            <li>18.00 <span>26&deg;</span></li>
                                                            <li>24.00 <span>22&deg;</span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section class="services">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="service-item first-service">
                        <div class="service-icon"></div>
                        <h4>Почему мы?</h4>
                        <p> GlobalAvia это удобный сервис для планирования путешествий по всему миру быстро и надёжно, обширные параметры поиска помогут вам в этом. </p>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-item second-service">
                        <div class="service-icon"></div>
                        <h4>Уникльные идеи</h4>
                        <p> С помощью GlobalAvia вы можете спланировать отдых мечты, множество различных идей для планирования вы можете легко найти на нашем сайте .</p>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-item third-service">
                        <div class="service-icon"></div>
                        <h4>Техническая поддержка</h4>
                        <p> Отдел помощи клиентам GlobalAvia будет рад подробно ответить на все возникшие у вас вопросы 24 часа в сутки 7 дней в неделю. Ждем ваших обращений!</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    
    <div class="tabs-content" id="recommended-hotel">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>Рекомендованные отели:</h2>
                    </div>
                </div>
                <div class="wrapper">
                    <div class="col-md-4">
                            <ul class="tabs clearfix" data-tabgroup="third-tab-group">
                                <li><a href="#livingroom" class="active">Идеально для всей семьи<i class="fa fa-angle-right"></i></a></li>
                                <li><a href="#suitroom">Активный отдых <i class="fa fa-angle-right"></i></a></li>
                                <li><a href="#swimingpool">Открытые бассейны <i class="fa fa-angle-right"></i></a></li>
                                <li><a href="#massage">СПА <i class="fa fa-angle-right"></i></a></li>
                                <li><a href="#fitness">Фитнесс <i class="fa fa-angle-right"></i></a></li>
                                <li><a href="#event">Ночная жизнь <i class="fa fa-angle-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <section id="third-tab-group" class="recommendedgroup">
                            <div id="livingroom">
                                <div class="text-content">
                                    <iframe width="100%" height="400px" src="https://i.pinimg.com/originals/93/9a/21/939a2139a6fcfabcc3326718e62cb1e5.jpg">
                                    </iframe>
                                </div>
                            </div>
                            <div id="suitroom">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="owl-suiteroom" class="owl-carousel owl-theme">
                                            <div class="item">
                                                <div class="suiteroom-item">
                                                    <img src="../static/img/suite-02.jpg" alt="">
                                                    <div class="text-content">
                                                        <h4>Чистые и уединенные номера</h4>
                                                        <span>Aurora Resort</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="suiteroom-item">
                                                    <img src="../static/img/suite-01.jpg" alt="">
                                                    <div class="text-content">
                                                        <h4>ТВ приставка в номере</h4>
                                                        <span>Khao Yai Hotel</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="suiteroom-item">
                                                    <img src="../static/img/suite-03.jpg" alt="">
                                                    <div class="text-content">
                                                        <h4>Лучшее предложение</h4>
                                                        <span>Hotel Grand</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="swimingpool">
                                <img src="../static/img/swiming-pool.jpg" alt="">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="text-content">
                                            <h4>Незабываемый вид для специальных гостей</h4>
                                            <span>Victoria Resort and Spa</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="massage">
                                <img src="../static/img/massage-service.jpg" alt="">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="text-content">
                                            <h4>Идеальное место для отдыха</h4>
                                            <span>Napali Beach</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="fitness">
                                <img src="../static/img/fitness-service.jpg" alt="">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="text-content">
                                            <h4>Тренировки на открытом воздухе</h4>
                                            <span>Hua Hin Beach</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="event">
                                <img src="../static/img/evening-event.jpg" alt="">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="text-content">
                                            <h4>Ночь фитнеса</h4>
                                            <span>Queen Restaurant</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <section id="most-visited">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>Самые популярные места</h2>
                    </div>
                </div>
                <div class="col-md-12">
                    <div id="owl-mostvisited" class="owl-carousel owl-theme">
                        <div class="item col-md-12">
                            <div class="visited-item">
                                <img src="../static/img/place-01.jpg" alt="">
                                <div class="text-content">
                                    <h4>Реки большого города</h4>
                                    <span>Нью-Йорк</span>
                                </div>
                            </div>
                        </div>
                        <div class="item col-md-12">
                            <div class="visited-item">
                                <img src="../static/img/place-02.jpg" alt="">
                                <div class="text-content">
                                    <h4>Колоритные маршруты по городу</h4>
                                    <span>Токио</span>
                                </div>
                            </div>
                        </div>
                        <div class="item col-md-12">
                            <div class="visited-item">
                                <img src="../static/img/place-03.jpg" alt="">
                                <div class="text-content">
                                    <h4>Мистический и прекрасный</h4>
                                    <span>Париж</span>
                                </div>
                            </div>
                        </div>
                        <div class="item col-md-12">
                            <div class="visited-item">
                                <img src="../static/img/place-04.jpg" alt="">
                                <div class="text-content">
                                    <h4>Центр мирового кино</h4>
                                    <span>Голливуд </span>
                                </div>
                            </div>
                        </div>
                        <div class="item col-md-12">
                            <div class="visited-item">
                                <img src="../static/img/place-02.jpg" alt="">
                                <div class="text-content">
                                    <h4>Неизведанная Азия</h4>
                                    <span>Токио</span>
                                </div>
                            </div>
                        </div>
                        <div class="item col-md-12">
                            <div class="visited-item">
                                <img src="../static/img/place-01.jpg" alt="">
                                <div class="text-content">
                                    <h4>Район Бруклин</h4>
                                    <span>Нью-Йорк</span>
                                </div>
                            </div>
                        </div>
                        <div class="item col-md-12">
                            <div class="visited-item">
                                <img src="../static/img/place-03.jpg" alt="">
                                <div class="text-content">
                                    <h4>Елисейские поля</h4>
                                    <span>Париж</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="primary-button">
                        <a href="#" class="scroll-top">Вернуться к началу</a>
                    </div>
                </div>
                <div class="col-md-12">
                    <ul class="social-icons">
                        <li><a href="https://www.facebook.com/tooplate"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <p>Copyright &copy; 2021 GlobalAvia
                
                | Дизайн: <a href="http://www.tooplate.com/view/2093-flight" target="_parent"><em>MISIS DESIGN</em></a></p>
                </div>
            </div>
        </div>
    </footer>


    


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../static/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="../static/js/vendor/bootstrap.min.js"></script>
    
    <script src="../static/js/datepicker.js"></script>
    <script src="../static/js/plugins.js"></script>
    <script src="../static/js/main.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">
    $(document).ready(function() {

        

        // navigation click actions 
        $('.scroll-link').on('click', function(event){
            event.preventDefault();
            var sectionID = $(this).attr("data-id");
            scrollToID('#' + sectionID, 750);
        });
        // scroll to top action
        $('.scroll-top').on('click', function(event) {
            event.preventDefault();
            $('html, body').animate({scrollTop:0}, 'slow');         
        });
        // mobile nav toggle
        $('#nav-toggle').on('click', function (event) {
            event.preventDefault();
            $('#main-nav').toggleClass("open");
        });
    });
    // scroll function
    function scrollToID(id, speed){
        var offSet = 0;
        var targetOffset = $(id).offset().top - offSet;
        var mainNav = $('#main-nav');
        $('html,body').animate({scrollTop:targetOffset}, speed);
        if (mainNav.hasClass("open")) {
            mainNav.css("height", "1px").removeClass("in").addClass("collapse");
            mainNav.removeClass("open");
        }
    }
    if (typeof console === "undefined") {
        console = {
            log: function() { }
        };
    }
    </script>
</body>
</html>